body {
	margin: 0;
	background-color : gray;
	overflow : hidden;
	background-image: url("src/back.gif");
}

#canvas {
	position: fixed;
	width: 100%!important;
	height: 100%!important;
	overflow: hidden;
	z-index: -1;
}
table{
	width: 600px;
	height: 250px;
	background-color: yellow;
	margin : auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
}
td{
	text-align: center;
}
img{
	background-color: red;
	width: 200px;
	height: 200px;
}

.screen {
	z-index : -1;
	background-color: transparent;
	position: fixed;
	width: 100%!important;
	height: 100%!important;
	text-align:center;

}
#menu {
       z-index : 1;
}

#menu .box{
	width: 300px;
	height: 250px;
	background-color: yellow;
	margin : auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 50px;
}

#nav {
	z-index: -1;
}
#nav_up {
	z-index: inherit;
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	color: white;
}

#nav_down {	
	z-index: inherit;
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	color: white;
}

#text{
	z-index: 0;
}
.glitch_a{
	text-align: left;
	z-index: inherit;
}
.glitch_b{
	text-align: right;
	z-index: inherit;
}

